@page "/"
@using Pathfinder.Logic.Tools

<div style="height: 100%;">
    <MudPaper>
        <MudToolBar>
            <ToggleButton IconA="@Icons.Material.Filled.PlayArrow" IconB="@Icons.Material.Filled.Pause" OnA="@(() => _playground.Run())" OnB="@(() => _playground.Stop())"/>
            <ToolButton T="StartMarkTool" Icon="@Icons.Material.Filled.Home" OnClick="@OnToolToggle"/>
            <ToolButton T="EndMarkTool" Icon="@Icons.Material.Filled.FmdGood" OnClick="@OnToolToggle" />
            <ToolButton T="WallMarkTool" Icon="@CustomIcons.Brush" OnClick="@OnToolToggle" />
            <MudIconButton Icon="@CustomIcons.Maze" OnClick="@(() => _playground.CeateMaze())" />
            <ToolButton T="ClearMarkTool" Icon="@CustomIcons.Eraser" OnClick="@OnToolToggle" />
        </MudToolBar>
    </MudPaper>

    @* <Grid @ref="grid"/> *@
    <Playground @ref="_playground" />
</div>

@code {
    private Playground _playground;

    private void OnToolToggle()
    {
        StateHasChanged();
    }
}