@page "/"
@using Pathfinder.Logic.Tools

<div style="height: 100%;">
    <MudPaper>
        <MudToolBar>
            <ToggleButton IconA="@Icons.Material.Filled.PlayArrow" IconB="@Icons.Material.Filled.Pause" OnA="@(() => _playground.Run())" OnB="@(() => _playground.Stop())"/>
            <ToolButton T="StartMarkTool" Icon="@Icons.Custom.Uncategorized.ChessPawn" OnClick="@OnToolToggle"/>
            <ToolButton T="EndMarkTool" Icon="@Icons.Material.Filled.Flag" OnClick="@OnToolToggle" />
            <ToolButton T="WallMarkTool" Icon="@Icons.Material.Filled.Construction" OnClick="@OnToolToggle" />
            <MudIconButton Icon="@Icons.Material.Outlined.Pattern" OnClick="@(() => _playground.CeateMaze())" />
            <ToolButton T="ClearMarkTool" Icon="@Icons.Material.Filled.Delete" OnClick="@OnToolToggle" />
        </MudToolBar>
    </MudPaper>

    @* <Grid @ref="grid"/> *@
    <Playground @ref="_playground" />
</div>

@code {
    private Playground _playground;

    private void OnToolToggle()
    {
        StateHasChanged();
    }
}